{{extend 'layout.html'}}


    <div class="panel panel-primary">
      <div class="panel-heading"><h1>
    <h1>{{=rows[0].Title}}</h1>
    </div>
      <div class="panel-body">
    <div class="multidivnobor">
    <h4>
    Want to tag someone?
</h4>
    <br>
    <select class="selectpicker" data-style="btn-inverse" data-live-search="true" id = "selector" name = "selector">
    <option value = "0">Select...</option>
  {{for user in users:}}
  <option id = "{{=user.id}}" value="{{=user.id}}">{{=user.first_name}} {{=user.last_name}}</option>
    {{pass}}
</select>
    <button type="button" id = "rm-val" class="btn btn-success rm-val" onclick="ajax('{{=URL('default', 'addShare')}}', ['selector'], 'target')">Tag</button>
</div>
          <div class="multidivdesc">
              <div class="panel panel-success">
      <div class="panel-heading"><h1>
    <h4>Description</h4>
    </div>
      <div class="panel-body">
         <p style="word-wrap:break-word;">
             {{=rows[0].Description}}
          </p> 
          </div>

          </div>
                  <br><br><br><br><br><br><br><br><br><br><br>
